    <nav class="navbar navbar-expand-lg bg-dark mb-3" data-bs-theme="dark">
        <div class="container d-flex flex-wrap">
            <a class="navbar-brand" href="{% url 'index' %}">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'index' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link3</a>
                    </li>
                </ul>
                    <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="nav-link text-light">Bienvenido, {{ user.first_name }}</span>
                    </li>
                    <li class="nav-item">
                        <form action="#" method="post">
                            {% csrf_token %}
                            <button class="btn btn-outline-danger" type="submit">Salir</button>
                        </form>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="#" class="btn btn-outline-primary btn-sm">Ingresa</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="btn btn-outline-success btn-sm ms-2">Regístrate</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>